<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups | Solar Systems Generator</title>
</head>

<body>
    <h1>Groups</h1>

    <% if (groups.length === 1) { %>
    <h2>You are in <%= systems.length %> group.</h2>
    <% } else { %>
    <h2>You are in <%= systems.length %> groups.</h2>
    <% } %>

    <ul>
        <% for( const group of groups ) { %>
        <a href="/groups/<%= group.groupId %>">
        </a>
        <% } %>
    </ul>
</body>
</html>
