<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Profile | Solar System Generator</title>
</head>

<body>
  <div class="formCard">
    <section class="form-container">
      <h1 class="gradient-text">Welcome <%= user.username %> to Solar System Generator</h1>

      <div><a href="/solarSystemCreation">Create Solar System</a></div>
      <div><a href="/updateEmail">Update Email</a></div>
      <!-- <div><a href="/users/<%= user.userId %>/password">Update Password</a></div> -->
      <div><a href="/systems">Your Solar Systems</a></div>
      <div><a href="/groups">Groups You're In</a></div>
      <div><a href="/createGroup">Create Group</a></div>
    </section>
  </div>
</body>

</html>