<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Solar Systems | Solar Systems Generator</title>
</head>

<body>
  <h1>Solar Systems</h1>

  <% if (systems.length===1) { %>
    <h2>There is <%= systems.length %> solar system.</h2>
    <% } else { %>
      <h2>There are <%= systems.length %> solar systems.</h2>
      <% } %>

        <a href="systems">Create a Solar System</a>

        <ul>
          <% for( const system of systems ) { %>
            <a href="/api/systems/<%= system.systemId %>">link
            </a>
            <% } %>
        </ul>
</body>

</html>